<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="head"></head>
    <head>
        <title>Choix de l'étudiant</title>
        <link rel="stylesheet" href="webjars/chartjs/2.9.3/Chart.css">
        <script src="webjars/chartjs/2.9.3/Chart.min.js"></script>
    </head>
    <body>
        <nav th:insert="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark mb-3"></nav>
        <div class="container">
            <h1 th:text="${'Choix de ' + etudiant.id}"></h1>

            <nav aria-label="pagination">
                <ul class="pagination justify-content-center flex-wrap">
                    <li th:class="'page-item' + (${etud.id == etudiant.id} ? ' active' : '')" th:each="etud, iter : ${allEtudiants}">
                        <a class="page-link" th:href="'?etu=' + ${etud.id}" th:text="${iter.count}"></a>
                    </li>
                </ul>
            </nav>

            <canvas id="myChart" width="200" height="200">Your browser does not support the canvas element.</canvas>
            <script th:inline="javascript">
            /*<![CDATA[*/
                var ctx = document.getElementById('myChart').getContext('2d');

                var id = /*[[${etudiant.id}]]*/ 'id';
                var ips = /*[[${etudiant.ips}]]*/ '5';
                var astre = /*[[${etudiant.astre}]]*/ '5';

            / *]]>*/

                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['IPS', 'ASTRE'],
                        datasets: [{
                            label: id,
                            data: [ips, astre],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            </script>
        </div>
    </body>
</html>