<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="head">
        <title>Etudiants</title>
    </head>
    <body>
        <nav th:insert="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark"></nav>
        <div class="container">
            <h1>Liste des étudiants</h1>

            <nav aria-label="pagination">
                <ul class="pagination justify-content-center flex-wrap">
                    <li th:class="'page-item' + (${etud.id == etudiant.id} ? ' active' : '')" th:each="etud, iter : ${allEtudiants}">
                        <a class="page-link" th:href="'?etu=' + ${etud.id}" th:text="${iter.count}"></a>
                    </li>
                </ul>
            </nav>

            <h1 th:text="'Etudiant ' + (${etudiant.id == null} ? 'non sélectionné' : ${etudiant.id})"></h1>

            <div class="table-responsive">
                <table class="table table-stripped">
                    <thead class="thead-light">
                    <tr class="d-flex">
                        <th scope="col" class="col-2">#</th>
                        <th scope="col" class="col-5">Question</th>
                        <th scope="col" class="col-5">Réponse</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="reponse: ${etudiant.reponses}" class="d-flex">
                        <td scope="row" th:text="${reponse.index}" class="col-2"></td>
                        <td th:text="${reponse.intitule}" class="col-5"></td>
                        <td th:text="${reponse.reponse}" class="col-5"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>