<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
    <head th:insert="head">
        <title>MotCleEdit</title>
    </head>
    <body>
        <nav th:insert="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark mb-3"></nav>

        <div class="container">

            <a class="btn btn-primary mb-3" role="button" th:href="@{/QuestionModelEdit(qIndex=${qIndex})}">Retour à la question</a>

            <h1>Édition du mot-clé</h1>

            <section>
                <h2>Paramètres</h2>
                <form th:action="@{/MotCleEdit}" th:object="${motCle}" method="post">
                    <fieldset class="form-group">
                        <label for="mot">mot : </label>
                        <input class="form-control" type="text" value="${motCle.mot}" th:field="*{mot}" id="mot" min="0" placeholder="1" required>
                    </fieldset>

                    <fieldset class="form-group">
                        <label for="ips">IPS : </label>
                        <input class="form-control" type="number" value="${motCle.ips}" th:field="*{ips}" id="ips" min="0" placeholder="1" required>
                    </fieldset>

                    <fieldset class="form-group">
                        <label for="astre">ASTRE : </label>
                        <input class="form-control" type="number" value="${motCle.astre}" th:field="*{astre}" id="astre" min="0" placeholder="1" required>
                    </fieldset>

                    <fieldset class="form-group">
                        <input class="form-control" type="submit" value="Sauvegarder">
                    </fieldset>
                </form>
            </section>
        </div>
    </body>
</html>