<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>QuestionModel</title>
        <link href="webjars/bootstrap/4.5.3/css/bootstrap.min.css"
          rel="stylesheet">
    </head>
    <body>
        <nav th:insert="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark"></nav>

        <div class="container">
            <h1>Liste des Questions</h1>

            <ul th:each="QuestionModel: ${allQuestionsModels}">

                <a th:href="@{/QuestionModelEdit}" th:text="${QuestionModel.index} + ' - ' + ${QuestionModel.intitule}"></a>

                <li th:text="${QuestionModel.index}"></li>
                <li th:text="${QuestionModel.intitule}"></li>

            </ul>
        </div>

    </body>
</html>