<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="head">
        <title>QuestionModel</title>
    </head>
    <body>
        <nav th:insert="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark mb-3"></nav>

        <div class="container">
            <h1>Liste des Questions</h1>

            <ul th:each="QuestionModel: ${allQuestionsModels}">

                <a th:href="@{/QuestionModelEdit(qIndex=${QuestionModel.index-1})}" th:text="${QuestionModel.index} + ' - ' + ${QuestionModel.intitule}"></a>

            </ul>

            <a class="btn btn-primary mb-3" role="button" th:href="@{/QuestionModelAdd}">Ajouter une nouvelle question</a>

            <form th:action="@{/QuestionModel}" method="get">
                <fieldset class="form-group">
                    <input type="hidden" value="true" name="save">
                    <input type="submit" value="Sauvegarder le modèle de question">
                </fieldset>
            </form>
        </div>

    </body>
</html>