<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
    <head th:insert="head"></head>
    <head>
        <title>QuestionModelEdit</title>
    </head>
    <body>
        <nav th:insert="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark mb-3"></nav>

        <div class="container">

            <a class="btn btn-primary mb-3" role="button" th:href="@{/QuestionModel}" >Retour aux questions</a>

            <h1>Édition de la question</h1>

            <section>
                <h2>Paramètres</h2>
                <form th:action="@{/QuestionModelEdit}" th:object="${questionModel}" method="post">
                    <fieldset class="form-group">
                        <p th:text="${'Index : ' + questionModel.index}"></p>
                        <input class="form-control" type="hidden" value="${questionModel.index}" th:field="*{index}">
                    </fieldset>

                    <fieldset class="form-group">
                        <label for="intitule">Intitulé : </label>
                        <input class="form-control" type="text" value="${question.intitule}"th:field="*{intitule}" id="intitule" required>
                    </fieldset>

                    <fieldset class="form-group">
                        <label for="coeff">Coefficient : </label>
                        <input class="form-control" type="number" th:field="*{coeff}" id="coeff" min="0" placeholder="1.0" step="0.1" required>
                    </fieldset>

                    <fieldset class="form-group">
                        <input class="form-control" type="submit" value="Sauvegarder">
                    </fieldset>
                </form>
            </section>

            <section>
                <h2>Mots-clés associés</h2>
                <ul th:each="motCle: ${getMotsCles}">
                    <a th:href="@{/MotCleEdit(qIndex = ${qIndex},mIndex=${getMotsCles.indexOf(motCle)})}" th:text="${motCle.mot} + ' - IPS : ' + ${motCle.ips} + ' ; ASTRE : ' + ${motCle.astre}"></a>
                </ul>

                <a class="btn btn-primary" role="button" th:href="@{/MotCleEdit(qIndex = ${qIndex}, mIndex=-1)}">Ajouter un mot-clé</a>
            </section>
        </div>
    </body>
</html>